.individualBlog {
  min-height: 100vh;
  background: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}
.individualBlogBy {
  /* text-align: center; */
  width: 80%;
  font-size: 22px;
  color: #ff5e00;
  margin: auto;
}
.individualBlogTime {
  width: 80%;
  color: #ff5e00;
  margin: auto;
  padding-bottom: 20px;
}

.individualBlogHeading {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #ff5e00;
  text-transform: uppercase;
}
.inline-image__picture--stretched img {
  height: 50vh;
  object-fit: cover;
}
.inline-image__caption {
  /* display: none; */
}

.ce-block__content {
  width: 90%;
  max-width: 90%;
}

.individualBlog .codex-editor__redactor {
  padding-bottom: 50px !important;
}

@media (max-width: 769px) {
  .individualBlogCcontainer {
    padding: 2rem 0 !important;
  }
  .individualBlogHeading {
    font-size: 22px;
  }
  .ce-block__content {
    width: 100%;
    max-width: 100%;
  }
  .individualBlog {
    width: 95%;
    padding: 0 4px;
  }
}
